
.name{}

.overview:hover{
    overflow-y: auto;
}

.overview{
    font-size: 20px;
    font-weight: 400;
    height: 120px;
    overflow-y: hidden;
    margin-top: 20px;
}

.rating_container {
    display: flex;
  }

  .rating {
    margin-top: 3px;
    margin-left: 5px;
  }